p
  br
  | My name is Matthijs, !{' '}
  b Software Engineer
  |  for 
  a(href='https://www.codesquad.nl' target='_blank')
    | CodeSquad
  | .
  
p
  | I'm a motivated, energetic software developer who's got a passion for making quality software. I'm a big fan of things like Extreme Programming and Clean Code.


