p
  br
  | My name is Matthijs, !{' '}
  b Software Engineer
  |  for 
  a(href='https://www.codesquad.nl' target='_blank')
    | CodeSquad
  | .
  
p
  | I'm a motivated, energetic Software Engineer who's got a passion for making quality Software. I'm a big fan of things like Extreme Programming, Clean Code and Domain Driven Design. In my free time I like to play around with other languages and paradigms. I believe that the best Software is as simple as possible and that collaboration is one of the most important tools in making Software right. I'm very eager to learn and like to participate in workshops, hackatons and meetups. I also love spending time on topics like Domain Driven Design, DevOps and Social Psychology.


