h2 Reading Shelf
h3 Currently reading
each book in currentlyReading
    a(href=book.link)
        img(src=book.book_medium_image_url)
h3 Other books I've read
each book in readBooks
        a(href=book.link)
            img(src=book.book_small_image_url)