h2 Currently Reading 📖
each book in currentlyReading
    a(href=book.link)
        img(src=book.book_medium_image_url)
h2 What I've Read 📚
each book in readBooks
        a(href=book.link)
            img(src=book.book_small_image_url)
