h2 Articles
h3 Medium
ul
  each article in articles
    li
      a(href=article.url)
        b=article.title
h3 Codesquad
ul
  each article in csArticles
    li
      a(href=article.url)
        b=article.title